# *
# !/.devcontainer/
# !/.github/
# !/.vscode/
# !/latex-setting/
# !/media/
# !/sample/

# !.dockerignore
# !.gitignore
# !.textlintrc
# !Dockerfile
# !makefile
# !README.md
# !sample-clean.sh
# !pull.yml
workspace/
sample/
*.tar
.git/