name: Scheduled workflow

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"

permissions:
  contents: read

jobs:
  image-test:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
      - name: checkout code
        uses: actions/checkout@v4.1.7
      - name: setup docker
        uses: docker/setup-buildx-action@v3.4.0
      - name: docker pull
        run: make get-image
      - name: build test
        run: make test

  latest-ubuntu:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: checkout code
        uses: actions/checkout@v4.1.7
      - name: setup docker
        uses: docker/setup-buildx-action@v3.4.0
      - name: docker rebuild
        run: make docker-rebuild
      - name: build test
        run: make test
